@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #0a0a0a;
}

/* green1 = #37F513 */
/* green2 = #ACF574 */
/* pink1 = #F32E9F */
/* pink2 = #E40072 */
/* pink3 = #AF0285 */
